PORT=4000
MONGODB_URI=mongodb://localhost:27017/paytm_autopilot
CORS_ORIGIN=*
NODE_ENV=development
# Set to 'true' to use embedded MongoDB in memory if no local MongoDB instance is active
USE_MEMORY_DB=false
